@page
@model ecommerce_dotnet.Pages.Products.ProduitsModel

@{
    ViewData["Title"] = "Produits";
}

<h1>Produits</h1>

<div class="row">
@foreach (var item in Model.Product) {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-info">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                    @item.ProductName
                                            
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="@item.ProductImageUrl" width="100%" alt="@item.ProductName">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="card-text"><b>Description: </b>@item.ProductDescription</p>
                                    <p class="card-text"><b>Prix: </b>$@item.Price</p>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text">
                                        <a class="btn btn-outline-primary float-right"> <i class="bi bi-eye-fill"></i> Détails</a>
                                                <form method="POST" asp-route-ProductId="@item.ProductId">
                                                <button type="submit" class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Ajouter au panier (Prix: @item.Price.ToString("c"))</button>
                                        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
}
</div>
