@page
@model ecommerce_dotnet.Pages.Admin.CartItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CartItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CartItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CartItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
